output/*
output_*
*.nc
*.grd
*.gri

#data folder
*_logging.txt
copernicus_parameters.csv

# root files and folders
downshape.code-workspace
.Rhistory
.Rproj.user/
downshape.Rproj
.RData
*.out
_targets.yaml

# renv environment
renv/*
.Rbuildignore
.Rprofile